doctype html
html(lang="en")
  head
    title Tepui
    link(rel="stylesheet" href="css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300' rel='stylesheet' type='text/css')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .start
      
      .start-screen
        ul.start-nav
          li 
            a(href="#") About 
          li 
            a(href="#") Projects
          li 
            a(href="#") Who are we?
          li 
            a(href="#") Contact
            
    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
